/* 

This file contains all your CSS style rules. 
indent = 2 spaces, not tabs 

Reference: http://www.w3schools.com/css/default.asp

*/

/* because every browser has a built in stylesheet we have to reset those properties that we want to manipulate later. We do this by setting those properties to zero for the entire HTML document and any other tag selectors we want to redefine from scratch*/

html h1 {
  margin: 0;
}

/* next we set up those properties that we want to apply everywhere that is visible on the page using the body selector. Notice the "font-family" */

body {
  font-size: 1.1em;
  font-family: 'Muli', "Helvetica Neue", Helvetica, Verdana, sans-serif;
  background-color: #63A9B3;
}

/* The container sits in the middle of the page and is a fixed width Reference: http://www.w3schools.com/css/css_boxmodel.asp
*/

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFEADA;
}

/* The next set of styles pretty much just "open up" the page and create white space */

.header {
  margin: 5%;
  clear: both;
}
  
.page_heading {
    margin-left: 5%;
} 

.author_information {
    margin-left: 5%;
}

/* link elements */

a, li {
  color: #B39075;
  text-decoration: none;
}

a:hover {
  color: #990012;
}

li:nth-child(2), li:nth-child(3) {
  margin-top: 10px;
}

li {
  list-style-type: none;
}

/* Navigation */

nav {
  width: 30%;
  float: left;
  background-color: #FFDCC1;
  margin-left: 8.5%;
}

/* body copy */

p {
  color: #858487;
}

#headshot {
  max-width: 30%;
  max-height: 30%;

}

/* Rules for styling header on the page */

.header {
  overflow: auto;
}

.page_heading{
  margin-top: 30px;
}

h1 {
  font-size: 3em;
  display: inline-block;
}

h1, h2 {
  clear: both;
}

.sky_logo {
  float: right;
}

.subtitle {
  font-size: .5em;
  display: block;
  line-height: 25px;
}

.right_subtitle {
  margin-left: 35px;
}

.validation_badge {
  float: right;
  clear: both;
}

.valid{
  display: inline-block;
}

/* the next three rules set the appearance of each weekly article, adding more whitespace, etc. */

.articles {
  margin: 5%;
  width: 70%;
  float: right;
}

.article_heading {
  width: 80%;
  margin-left: 5%;
  padding: 2%;
  border: 1px solid black;
  background-color: #dddddd;

}

.article_content {
  margin: 0 5% 0 5%;
  padding: 2%;
  border:1px solid gray;
  background-color: #ffffff;

}

/* finally, the footer stretches across the whole page width in an open, centered sort of way. */
.footer {
  font-size: .80em;
  min-height: 40px;
  text-align: center;
  margin: 5%;
  clear: both;

}

@media (max-width: 600px) {
  .validation_badge {
    display: none;
  }
  .article_heading {
    border: none;
    background-color: white;
  }
  .container {
    width: 100%;
    margin:0;
    background-color: white;
  }

}